*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#container{
    padding: 1rem;
    background-color: lightslategrey;
}

#box{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}
