*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#container{
    padding: 1rem;
    background-color: rgb(237, 238, 240);
    margin-top: 50px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    width: 80%;
    display: flex;
    background-color: white;
    /* height: 350px; */
    border-radius: 5px;
    box-shadow: rgba(20, 20, 20, 0.16) 0px 1px 4px;
    padding: 2rem;
}
#left-box{
    width: 70%;
    padding: 2rem;

}
#right-box{
    border-left: 1px solid black;
    padding: 2rem;
    width: 30%;
    
}
#right-box > div{
    width: 100%;
} 
.val{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
}
#total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
#total+div{
    margin-top: 2rem;
}
#bt1{
   background-color: red;
   color: white;
   width: 3rem;
   height: 1.4rem;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   border: none;
   font-weight: 550;
   cursor: pointer;
}
#bt2{
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0.4rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    width: 100%;
    font-weight: 550;
    cursor: pointer;

}

.cart_item{
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px dashed gray;
    padding: 10px;
}
.cart_item> *:nth-child(3){
    flex-grow: 1    ;
    font-weight: 800;
}
.cart_item>img:first-child{
    width: 20px;
    cursor: pointer;
}
.cart_item>img:nth-child(2){
    width: 20%;
    height: 5rem;
}