#sec1{
    background-color: teal;
    height: 300px;
}
#sec1>img{
    height: 100%;
    width: 100%;
}
#sec2{
    width: 80%;
    margin: auto;
}
#asec1{
    margin:50px auto;
}
#asec1>h3{
    font-size: 22px;
    color: dimgray;
    font-weight: 300;
}
#asec1>p{
    color: dimgray;
    font-size: 22px;
    text-align: justify;
    margin-top: 10px;
}
#asec2{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    grid-template-columns: repeat(4,25%);
    gap:15px;
    margin: auto;
   margin-bottom: 100px;
}
#asec2>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.course{
    height: 70%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom-style: dashed;
    border-bottom:2px dashed dimgray;
}
.course>img{
    height: 70%;
    width: 100%;
    margin-bottom: 10px;
}

.head1{
    font-size: 20px;
    font-weight: 400;
}
.desc{
    font-size: 18px;
    overflow: hidden;
    color: dimgray;
    padding: 5px 0px;
}
.price{
 
    display: flex;
    justify-content: end;
}
.np{
    font-size: 14px;
    padding-top: 10px;
    padding-right: 10px;
    text-decoration: line-through;
}
.pric{
    font-size: 18px;
}
.link{
    color: blue;
    padding-right: 20px;
font-weight: lighter;

}
.emi{
    color: gold;
    text-align: end;
}
.btn{
    height: 35px;
    width: 120px;
    border-radius: 10px;
}
.order{
    display: flex;
    justify-content: end;
    
}
.main1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
}

@media all and (min-width:700px) and (max-width:1000px){
    #asec2{
        display: grid;
        grid-template-rows: auto;
        /* width: 80%; */
        grid-template-columns: repeat(2,50%);
        gap:2%;
       
    }
}
@media all and (min-width:200px) and (max-width:700px){
    #asec2{
        display: grid;
        grid-template-rows: auto;
        /* width: 80%; */
        grid-template-columns: repeat(1,70%);
        gap:2%;
       
    }
}