
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

#vikas_container11 {
  width: 100%;
  height: 56vh;
  margin-top: 64px;
  position: relative;
  overflow: hidden;
  align-items: center;
  opacity: 100%;
  background-color: #446478;
  display: flex;
}

#vikas_container11>div>img{
  width: 100%;
  height: 100%;
}

#vikas_container11 > :nth-child(1) {
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#vikas_container11 > :nth-child(2) {
  align-items: center;
  height: 55vh;
  width: 100%;
  
}

#vikas_container11 > :nth-child(2) > div {
  opacity: 1;
  text-align: center;
  z-index: 21;
  display: flex;
  justify-content: center;
  color: white;
}

#vikas_container11 > :nth-child(2) > :nth-child(1) {
  margin-top: 135px;
}

#vikas_container11 > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  font-size: 23px;
}

#vikas_container11 > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  font-size: 23px;
  font-weight: bold;
  background-color: #df1e2e;
  padding: 0px 10px;
}

#vikas_container11 > :nth-child(2) > :nth-child(2) {
  margin: 6px 0px 15px 0px;
}

#vikas_container11 > :nth-child(2) > :nth-child(3) {
  width: 82%;
  background-color: #eff8ff;
  height: 100px;
  margin: auto;
  border-radius: 10px;
  margin-top: 28px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

#vikas_homeSearch {
    display: flex;
    box-sizing: border-box;
    padding: 0px 20px;
  }
  #vikas_homeSearch > :nth-child(4) {
    color: black;
  }
  #vikas_homeSearch > div {
    margin: 0px 10px;
  }
  #vikas_city1 > :nth-child(1) {
    display: flex;
    border-bottom: #999999 solid 2px;
  }
  #vikas_city1 > :nth-child(1) > input {
    background: none;
    color: black;
    outline: none;
    border: none;
    width: 95%;
    font-size: 16px;
    padding: 6px 0px 8px;
  }

  #vikas_city1 > :nth-child(1) > :nth-child(2) {
    width: 15%;
    border: none;
    border-left: solid 2px;
    height: 20px;
    margin-top: 6px;
    text-align: center;
    color: #999999;
  }
  #vikas_city1 :hover {
    border-bottom: solid 2px black;
    transition-duration: 0.2s;
  }
  #vikas_city1 {
    position: relative;
    width: 21%;
  }

  #vikas_type1 > :nth-child(1) {
    display: flex;
    border-bottom: #999999 solid 2px;
  }
  #vikas_type1 > :nth-child(1) > input {
    background: none;
    color: black;
    outline: none;
    border: none;
    width: 95%;
    font-size: 16px;
    padding: 6px 0px 8px;
  }

  #vikas_type1 > :nth-child(1) > :nth-child(2) {
    width: 15%;
    border: none;
    border-left: solid 2px;
    height: 20px;
    margin-top: 6px;
    text-align: center;
    color: #999999;
  }

  #vikas_type1 {
    position: relative;
    width: 21%;
  }

  #vikas_preference1 > :nth-child(1) {
    display: flex;
    border-bottom: #999999 solid 2px;
  }
  #vikas_preference1 > :nth-child(1) > input {
    background: none;
    color: black;
    outline: none;
    border: none;
    width: 95%;
    font-size: 16px;
    padding: 6px 0px 8px;
  }

  #vikas_preference1 > :nth-child(1) > :nth-child(2) {
    width: 15%;
    border: none;
    border-left: solid 2px;
    height: 20px;
    margin-top: 6px;
    text-align: center;
    color: #999999;
  }

  #vikas_preference1 {
    position: relative;
    width: 21%;
  }

  #vikas_searchDiv {
    z-index: 3;
    box-sizing: border-box;
    padding: 0px 9px;
    height: 51px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 30%;
  }
  #vikas_searchDiv > :nth-child(1) {
    border: none;
    outline: none;
    color: #999999;
    border-bottom: #999999 solid 2px;
    height: 30px;
    font-size: 17px;
    width: 65%;
  }
  #vikas_searchDiv > :nth-child(1):hover {
    border-bottom: solid 2px black;
    transition-duration: 0.2s;
  }
  #vikas_searchDiv > :nth-child(2):hover {
    background-color: #b11724;
    transition-duration: 0.2s;
  }
  #vikas_searchDiv > :nth-child(2) {
    border: none;
    outline: none;
    height: 30px;
    width: 35%;
    background-color: #df1e2e;
    border-radius: 4px;
    font-weight: bold;
    color: white;
  }

  /* container 2 css */

  #vikas_container22 {
    width: 100%;
    height: 41vh;
    box-sizing: border-box;
    padding: 0px 10vw;
    display: flex;
    justify-content: space-between;
  }
  
  #vikas_container22 > div {
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding: 8px;
  }
  
  #vikas_container22 > :nth-child(1) {
    align-items: center;
    font-size: 18px;
  }
  
  #vikas_container22 > :nth-child(1) > h2 {
    border-bottom: solid 0.3px gray;
    margin-bottom: 0;
    padding-bottom: 8px;
    margin-top: 161px;
  }
  
  #vikas_container22 > :nth-child(1) > h2 > span {
    color: #df1e2e;
    margin-left: 9px;
  }
  
  #vikas_container22 > :nth-child(2) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
    padding: 30px 10px;
    row-gap: 6px;
  }

  /* container 3 css */

  #vikas_container33 { 
    width: 100%;
    box-sizing: border-box;
    padding: 57px 10% 90px 10%;
    background-color: #f7fcfe;
  }
  #vikas_container33 > :nth-child(1) {
    text-align: center;
    font-size: 17px;
  }
  #vikas_container33 > :nth-child(1) > h1 > span {
    color: #df1e2e;
    margin-left: 9px;
  }
  #vikas_container33 > :nth-child(2) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  #vikas_container33 > :nth-child(2) > div {
    height: 180px;
    overflow: hidden;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #vikas_container33 > :nth-child(2) > div > img {
    width: 100%;
    height: 100%;
  } 

  /* container 4 css */

  #vikas_container44 { 
    width: 100%;
    box-sizing: border-box;
    padding: 57px 10% 90px 10%;
  
    background-color: #e9e5e7;
  }
  #vikas_container44 > :nth-child(1) {
    text-align: center;
    font-size: 17px;
  }
  #vikas_container44 > :nth-child(1) > h1 > span {
    color: #df1e2e;
    margin-left: 9px;
  }
  #vikas_container44 > :nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
  }
  #vikas_container44 > :nth-child(2) > div {
    height: 180px;
    overflow: hidden;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #vikas_container44 > :nth-child(2) > div > img {
    width: 100%;
    height: 100%;
  }

  /* container 5 css */

  #vikas_container55 {
    width: 100%;
    box-sizing: border-box;
    padding: 31px 10% 31px 10%;
    display: flex;
    justify-content: space-between;
  }
  #vikas_container55 > div {
    width: 51%;
  }
  #vikas_container55 > :nth-child(1) > div {
    display: flex;
    justify-content: center;
  }
  #vikas_container55 > :nth-child(1) > div > img {
    width: 301px;
  }
  #vikas_container55 > :nth-child(2) {
    font-size: 17px;
  }
  
  #vikas_container55 > :nth-child(2) > h2 {
    border-bottom: solid 0.3px gray;
    margin-bottom: 0;
    padding-bottom: 9px;
    margin-top: 101px;
  }
  
  #vikas_container55 > :nth-child(2) > h2 > span {
    color: #df1e2e;
    margin-left: 9px;
  }
  #vikas_container55 > :nth-child(2) > :nth-child(2) {
    margin-top: 7px;
    padding: 0px 6px;
    box-sizing: border-box;
    font-size: 13px;
    color: #3c4858;
  }  